*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    padding-left: 45px;
    padding-right: 45px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.t-colour{
    color: tomato;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bolder;

}
.radiance-logo{
    width: 50px;
    height: 35px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style-type: none;

}
.nav-link li:hover{
    color: tomato;
    cursor: pointer;
}
.hamberger{
    display: none;
}

/* section1 */


.bgimage{
    width: 1360px;
    height: 600px;
background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);    
background-repeat: no-repeat;
border-radius: 16px;
justify-content: center;
position: relative;
margin-top: 50px;
background-size: cover;


}

.small-title{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.big-title{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
width: 600px;
margin: auto;
}
.overlay{
    padding-top: 150px;
    z-index: 50px;
    position: absolute;
    right: 0%;
    left: 0%;
    height: 75%;
    border-radius: 16px;

}   







/* section2 */
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 120px;
    margin-left: 10px;
    font-weight: 400px;
}
.section2h1{
    font-size: 40px;
    font-weight: bolder;
    padding-top: none;
    align-items: top left;
    margin-top: none;
}
.ullist{
    padding-left: 15px;
}
.readmore-but{
    background-color: orangered;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #FFF;
}


.sec2-img{
    width: 500px;
}



/* for medium device */


@media screen and (min-width: 426px) and (max-width: 768px){

    body{
        font-family: 'Mulish', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
    }
  .nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
}  
}
/* for small device */

@media screen and (max-width: 426px){

    body{
        font-family: 'Mulish', sans-serif;
        padding-left: 3px;
        padding-right: 3px;
    }
  .nav{
    display: flex;
    flex-direction: row;
    gap: 25px;
} 
.hamberger{
    display: flex;
    align-items: center;
} 
.nav-link{
    display: none;
    
}
.nav-logo{
    
    font-size: 20px;

}
.radiance-logo{
    width: 30px;
    height: 30px;
}
}
